#elem , #elem1 , #elem2 , #elem3 , #elem4 , #elem5 {
	display: none;
	background: rgba(0, 0, 0, 0.9);
	width: calc(33% - 10px);
	color: #fff;
	margin: 10px 5px;
	position: absolute;
}
.btn{
  width: 165px;
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(66, 78, 181);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 600px) {
	#elem , #elem1 , #elem2 , #elem3 , #elem4 , #elem5{
		width: calc(100% - 20px);
		margin: 10px;
	}
